#ignore env
*.env

#ignore all data files
*.csv
*.json
*.zip

*.download
*.js
*.css

*.png

myfile.html
#bunches of pdfs from the classes
*.pdf


from_stack_overflow*
*temp*
secrets.h
IBM_data_analysis_w_python/Skills Network Editor.html
IBM_data_analysis_w_python/Skills Network Editor_files/alpinejs
