#ignore env
*.env
.venv/

#ignore all data files
*.csv
*.json
*.zip

*.download
*.js
*.css

*.png

myfile.html
#bunches of pdfs from the classes
*.pdf


from_stack_overflow*
*temp*
secrets.h
IBM_data_analysis_w_python/Skills Network Editor.html
IBM_data_analysis_w_python/Skills Network Editor_files/alpinejs
boardgamegeek/gamepage.html
boardgamegeek/test.py
IBM_machine_learning/.ipynb_checkpoints/Regression_Trees.jupyterlite-checkpoint.ipynb
IBM_machine_learning/.vscode/IBM_machine_learning.code-workspace
IBM-data-visualization/test-graphs.ipynb
IBM-data-visualization/Final-2.ipynb
