<span ng-if="::geekitemctrl.geekitem.data.item.minplayers > 0 || geekitemctrl.geekitem.data.item.maxplayers > 0"
    min="::geekitemctrl.geekitem.data.item.minplayers" max="::geekitemctrl.geekitem.data.item.maxplayers"
    class="ng-scope ng-isolate-scope"> <!-- ngIf: min > 0 --><span ng-if="min > 0"
        class="ng-binding ng-scope">1</span><!-- end ngIf: min > 0 --><!-- ngIf: max>0 && min != max --><span
        ng-if="max>0 &amp;&amp; min != max" class="ng-binding ng-scope"><!-- ngIf: min>0 --><span ng-if="min>0"
            class="ng-binding ng-scope">–</span><!-- end ngIf: min>0 -->4</span><!-- end ngIf: max>0 && min != max -->
</span>